@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter-bold;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter-italic;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter-bold-italic;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 16px;
    --gray40: #212121;
    --gray30: #212429;
    --gray20: #424242;
    --gray10: #616161;
    --yellow: #FEC62E;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray40);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* font-family: charter; */
}

a {
    color: var(--gray30);
}

header {
    font-size: 14px;
    width: 188px;
    color: var(--gray10);
    position: absolute;
    top: 64px;
    left: -232px;
    /* z-index: 1; */
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

header li {
    margin-bottom: 16px;
    line-height: 24px;
}

nav details summary {
    font-weight: bold;
    line-height: 24px;
}

summary {
    list-style-image: url('../images/arrow-right.svg');
}

details[open]>summary {
    list-style-image: url('../images/arrow-down.svg');
}

summary::-webkit-details-marker {
    background: url('../images/arrow-right.svg');
    color: transparent;
}

details[open]>summary::-webkit-details-marker {
    background: url('../images/arrow-down.svg');
}

h1 {
    font-size: 60px;
    /* top right bottom left */
    /* margin: 64px 10px 16px 10px; */
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: normal;
}

hr {
    margin: 64px 0;
}

h2 {
    font-size: 2em;
    margin: 64px 0 40px;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
    position: relative;
    /* position: sticky;
    top: 0;
    background: white; */
}

pre {
    margin: 0;
    padding: 40px;
    background: var(--yellow);
    font-family: 'Roboto';
    line-height: 24px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    font-weight: normal;
    color: var(--gray20);
    line-height: 24px;
    border-left: 4px solid var(--gray40);
}

blockquote span {
    color: var(--gray10)
}

blockquote span::before {
    content: '- ';
}

.header {
    position: sticky;
    top: 0;
}

.header-content {
    position: absolute;
}

.wrapper {
    width: 902px;
    margin: auto;
}

.debug {
    /* box-shadow: inset 0 0 0 1 px red; */
    outline: 1px solid red;
}

.patron {
    height: 350px;
    background-image: linear-gradient(to top, #212325 -63.62%, rgba(255, 255, 255, 0) 43.49%), url('../images/patron-1.png');
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
}

.section-content {
    counter-reset: titleList;
    margin-top: 156px;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content img {
    margin-top: 40px;
}

.section-content img:first-of-type {
    margin-top: 0;
}

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content+hr {
    display: none;
}

.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 8px;
}

.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray20);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.section-content:last-of-type {
    margin-top: 40px;
}

.slider {
    /* border: 1px solid red; */
}

.slider-container {
    /* block-size: 100px; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
}

.slider-bullet-list {
    /* border: 1px solid yellow; */
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: var(--gray20);
    border-radius: 50%;
    margin-right: 8px;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.form input {
    width: 280px;
    border: 1px solid var(--gray20);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 90px;
    padding: 12px 16px;
    color: var(--gray20);
    font-family: var(--font);
    font-size: 16px;
    margin-right: 16px;
    /* display: inline; */
    /* margin-bottom: 24px; */
}

.form {
    margin-bottom: 113px;
}

.form #email {
    width: 337px;
    margin-right: -119px;
}

.form input[type="submit"] {
    background: #000000;
    border: none;
    color: white;
    width: 119px;
}

.form input::-webkit-input-placeholder {
    color: var(--gray20);
}